<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="img-container">
        <div class="overlay">
          <img src="images/icon-view.svg" alt="" />
        </div>
        <img class="img" src="images/image-equilibrium.jpg" alt="" />
      </div>
      <div class="content">
        <h1>Equilibrium #3429</h1>
        <p>Our Equilibrium collection promotes balance and calm.</p>
        <div class="details">
          <div class="left">
            <img src="images/icon-ethereum.svg" alt="" />
            <span>0.041 ETH</span>
          </div>
          <div class="right">
            <img src="images/icon-clock.svg" alt="" />
            <span>3 days left</span>
          </div>
        </div>
        <div class="avatar">
          <img src="images/image-avatar.png" alt="" />
          <p>Creation of <span>Jules Wyvern</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
