<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="images/illustration-hero.svg" alt="" />
      </div>
      <div class="content">
        <h1>Order Summary</h1>
        <p>
          You can now listen to millions of songs, audiobooks, and podcasts on
          any device anywhere you like!
        </p>
      </div>
      <div class="annual-plan">
        <img src="images/icon-music.svg" alt="" />
        <div class="prices">
          <h2>Annual Plan</h2>
          <p>$59/99 year</p>
        </div>
        <a href="">Check</a>
      </div>
      <div class="buttons">
        <button>Proceed to payment</button>
        <button>Cancel Order</button>
      </div>
    </div>
  </body>
</html>
