.container {
  /* display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-around; */
}

/* button {
  padding: 5px 25px;
  border: none;
  background-color: rgb(51, 107, 205);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  background-color: rgb(4, 59, 155);
} */
