<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <h1>Get <span>insights</span> that help your business grow.</h1>
        <p>
          Discover the benefits of data analytics and make better decisions
          regarding revenue, customer experience, and overall efficiency.
        </p>
        <div class="followers">
          <div class="f">
            <h1>10k+</h1>
            <p>COMPANIES</p>
          </div>
          <div class="f">
            <h1>300</h1>
            <p>TEMPLATES</p>
          </div>
          <div class="f">
            <h1>12M+</h1>
            <p>QUERIES</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="overlay"></div>
        <img src="images/image-header-desktop.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
