@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  padding: 0 100px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: auto;
  margin-left: 30px;
}

.link {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menue {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menue a {
  text-decoration: none;
  color: #fff;
}

.drop-down {
  position: absolute;
  background-color: #fff;
  top: 150%;
  padding: 10px 25px;
  left: 0;
  display: none;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  width: 150px;
}

.drop-down p:hover {
  font-weight: 500;
  cursor: pointer;
}

.link:hover .drop-down {
  display: flex;
}
.link:hover .menue img {
  rotate: 180deg;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons button {
  padding: 10px 25px;
  border: none;
  border-radius: 80px;
  background-color: #fff;
  color: #ff525e;
  font-weight: 700;
  cursor: pointer;
}

.buttons button:nth-child(1) {
  background-color: transparent;
  color: #fff;
}

.header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(to right, #ff7a85f2, #ff525ef2),
    url(images/bg-pattern-intro-desktop.svg);
  background-position: 25% 52%;
  background-size: 200% 400%;
  color: #fff;
  border-radius: 0 0 0 100px;
}

.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 19px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-buttons button {
  padding: 10px 25px;
  border: none;
  border-radius: 80px;
  background-color: #fff;
  color: #ff525e;
  font-weight: 700;
  cursor: pointer;
}

.header-buttons button:nth-child(2) {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.design {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 0;
  height: 100%;
}

.design h1 {
  text-align: center;
  color: hsl(208, 49%, 24%);
}

.content {
  display: flex;
  align-items: center;
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container img {
  margin-left: 20%;
  width: 120%;
}

.left {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card h2 {
  font-size: 25px;
  color: hsl(208, 49%, 24%);
}

.card p {
  line-height: 25px;
  font-size: 14px;
  opacity: 0.8;
}

.state {
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
  background-color: hsl(237, 17%, 21%);
  height: 50vh;
  border-radius: 0 80px 0 80px;
  color: #fff;
  background-image: url(images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -20% 90%;
  background-size: 70%;
  margin: 80px 0;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right p {
  line-height: 25px;
}

.footer {
  height: 60vh;
  background-color: hsl(240, 10%, 16%);
  padding: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 0 80px 0 0;
}

.footer img {
  width: 100px;
  height: 80px;
}

.f-card {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.f-card h3 {
  margin-bottom: 20px;
}

.f-card p {
  margin: 10px 0;
}

.f-card p:hover {
  text-decoration: underline;
  cursor: pointer;
}
